.main{
  background-color: white;
  padding: 1.875rem;
  margin: 3.125rem auto;
  max-width: 31.25rem;
  text-align: center;
  box-shadow: 0px 0px 0.063rem rgba(0, 0, 0, 0.1);
}
.main h1{
  font-size: 1.5rem;
}
.form{
  margin-top: 1.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form input[type='text']{
  height: 2.5rem;
  padding: 0, 1.5rem;
  font-size: 1.25;
  border: 0.063;
  min-width: 80%;
}
.form button[type='submit']{
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  background: #f04c64;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
